<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168458162835-9ipi9u893lfj6kc1kmq1se0dgvbp2353.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168458162835-9ipi9u893lfj6kc1kmq1se0dgvbp2353</string>
	<key>API_KEY</key>
	<string>AIzaSyCFk9OqOv_ljkUMaYIq6InkOBhYkxg_0So</string>
	<key>GCM_SENDER_ID</key>
	<string>168458162835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.liuj9.Movie-Quotes</string>
	<key>PROJECT_ID</key>
	<string>liuj9-movie-quotes-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>liuj9-movie-quotes-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168458162835:ios:82f65e564e8b743c95b366</string>
</dict>
</plist>