<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296179435629-ngk50h2qgak62ehgh1hsfqqu95o21tqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296179435629-ngk50h2qgak62ehgh1hsfqqu95o21tqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBhsuzYkanak5TlGM2zRyMLMMtS5s1rGyA</string>
	<key>GCM_SENDER_ID</key>
	<string>296179435629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.liuj9.Group-Chat</string>
	<key>PROJECT_ID</key>
	<string>group-chat-ios-9334b</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-ios-9334b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296179435629:ios:ebe32052905da91065d764</string>
</dict>
</plist>