<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41856746667-rgpskoeqi4if92rfrcn4ft2059cdkcmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41856746667-rgpskoeqi4if92rfrcn4ft2059cdkcmk</string>
	<key>API_KEY</key>
	<string>AIzaSyDJqLa6PIdN9ktPF6H2RimN4fI4lrI_928</string>
	<key>GCM_SENDER_ID</key>
	<string>41856746667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.liuj9.Rose-Grade-Tracker</string>
	<key>PROJECT_ID</key>
	<string>rose-gradebook-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>rose-gradebook-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41856746667:ios:011bd728cd026f9e8323ee</string>
</dict>
</plist>